#flash-message
  -flash.each do |key, value|
    -key = "error" if key == :warning || key == :alert
    -key = "info" if key == :notice    
    -key = "success" if key == :success
    .alert{class: "alert-#{key}", data: { dismiss: "alert" } }
      = link_to "#", class: "close", data: { dismiss: "alert" } do
        %i.icon-remove
      #{value}
