.devise-edit {
  width: 230px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  label {
    font-weight: bold;
  }
  
  .field {
    margin: 15px 0;
  }

  .update-btn {
    clear: both;
    width: 230px;
    margin: 0 auto;
  }

  .sign-up-btn {
    clear: both;
    width: 230px;
    margin: 0 auto;
  }
}

.devise-login {
  padding: 30px;

  header {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    h1 {
      color: #08c;
      font-size: 3.5em;
    }
  }

  .sign-in {
    float: left;
    border-right: 1px solid rgba(0, 0, 0, .2);
    width: 250px;
    padding-right: 50px;

    #sign-in-btn {
      width: 100px;
      margin-right: 10px;
    }
    
    .sign-in-actions {
      margin-top: 10px;
    }
  }

  .sign-up {
    float: right;
    text-align: center;

    width: 300px;

    #register-btn {
      margin: 20px auto 0;
      width: 200px;
      height: 50px;

      line-height: 2em;
      font-size: 2em;
    }
  }
}
