.cell {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(0, 0, 0, .2);
  margin: 0;
  float: left;
  background-color: white;
}

.cell.active {
  background-color: rgba(0, 0, 0, .6);
}

.key-note {
  color: black;
  background-color: rgba(0, 128, 192, .2);
  width: 24px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, .7);
  margin: 0;
  float: left;
  text-align: center;
}
