.generation {
}

.cell {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(0, 0, 0, .2);
  margin: 0;
  float: left;
  background-color: white;
}

.cell.active {
  background-color: rgba(0, 0, 0, .6);
}
