.rule {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 10px;
  padding: 10px;
}

.rcell {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(0, 0, 0, .2);
  margin: 0;
  float: left;
  background-color: white;
}

.rpadding {
  width: 26px;
  height: 26px;
  margin: 0;
  float: left;
  background-color: white;
}

.rnewcell {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(0, 0, 0, .2);
  margin: 0;
  float: left;
  background-color: white;
}

.rcell_active {
  background-color: rgba(0, 0, 0, .6);
}

.rnewcell_active {
  background-color: rgba(0, 0, 0, .6);
}

.rule-arrow {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 27px;
}
