.song-actions {
  width: 550px;
  margin: 0 auto;
}

.songs-list {
  margin: 0 auto;
  padding: 10px;
  width: 550px;

  a {
    //color: black;
  }

  a:hover {
    text-decoration: none;
  }
}

.song {
  width: 500px;
  padding: 10px 20px;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, .3);
  background-color: rgba(255, 255, 255, .8);
  clear: both;

  position: relative;

  h1 {
    font-size: 2.2em;
    font-weight: normal;
    color: #08c;
  }

  .song-info {
    position: absolute;
    top: 7px;
    right: 20px;
    .song-item {
       
    }
  }
}

.song-show-title h1 {
  color: #08c;
  margin-left: 10px;
}

.song-show-container {
  padding: 10px;
  margin-top: 10px;

  .song-show-content {
    width: 400px;

    .actions {
      margin-top: 20px;
      .btn {
        width: 150px;
      }
    }
  }

  .song-show-info {
    border-left: 1px solid rgba(0, 0, 0, .2);
    padding-left: 20px;
    width: 200px;

    .info-field {
      margin: 10px 0;

      select {
        width: 220px;
      }
    }

    #open-rulebook-btn {
      width: 200px;
    }

  }
}
