!!!
%html
  %head
    %title A New Kind of Music
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .main-header
      %h1 A New Kind of Music 

    .main-container
      = yield

